# Dependency directories
node_modules/

# Next.js build output
.next/
out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
postgres_data/

# OS files
.DS_Store
Thumbs.db

# Prisma
/backend/prisma/migrations/
